@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  
}
.links{
  display: flex;
  align-items: center;
}
.navbar h1 {
  color: #f1356d;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a.active{
  color : #f1356d;
  transform: scale(1.2);
  border-bottom: 2px solid #f1356d;
  font-weight: bold;
}
.navbar a:hover {
  color: #f1356d;
  cursor: pointer;
}
.list-container{
  margin: 0 auto;
  max-width: 600px;
}
.list-container.hide{
  display: none;
}
form{
  margin: 0 auto;
}
#new-task{
  width: 50%
}
#new-deadline{
  width: 30%
}
.past-due{
  color: #f1356d;
}